.bg-error {
  background-color: rgb(144, 204, 144);
}

.bg-error {
  background-color: rgb(228, 131, 131);
}

.boldClass {
  font-weight: bold;
  font-size: 30px;
}

.italicsClass {
  font-style: italic;
}

.colorClass {
  color: grey;
}
