<!-- Side navigation -->
<div class="sidenav">
  <a routerLink="home">Home</a>
  <a routerLink="property-binding">Property Binding</a>
  <a routerLink="data-binding">Data Binding</a>
  <a routerLink="events">Events</a>
  <a routerLink="directive">Directives</a>
  <a routerLink="pipe">Pipes</a>
  <a [routerLink]="['communication', 101]">Communication</a>
  <a routerLink="template-driven-form">Template driven Form</a>
  <a routerLink="reactive-form">Reactive Form</a>



  <div style="margin-top: 10px;">
    <button type="button" (click)="onServiceEmitValue()">
      Pass Value Using Service
    </button>
  </div>
</div>

<!-- Page content -->
<div class="main">
  <router-outlet></router-outlet>
</div>
